{% extends 'MedicPlace/layout.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center text-capitalize font-weight-bold" id="title_article">{{title}}</h1>
                <div class="row justify-content-end">
                    <div class="col-sm-4 ">
                        
                    </div>
                    <div class="col-sm-4 ">
                        <textarea id="texarea_title" col="20" rows="1" class="justify-content-center">{{title}}</textarea>
                    </div>
                    <div class="col-sm-4 ">
                        
                    </div>
                </div>
                
               
                <div class="col text-center">
                    <small class="text-capitalize font-weight-bold">From Dr: {{Medic}}</small>
                </div>  
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p id="content_article">{{content|linebreaks}}</p>
                <div class="row justify-content-end">
                    <div class="col-sm-4 ">
                        
                    </div>
                    <div class="col-sm-4 ">
                        <textarea id="textarea_content"  cols="20" >{{content|linebreaks}}</textarea> 
                    </div>
                    <div class="col-sm-4 ">
                        
                    </div>
                </div>
                 
            </div>
        </div>
        <div class="row justify-content-end">
            
            {% if is_owner is True %}
            <div>
                <a href="{% url 'Edit_Article' Article_target.id %}"><button type="button" id="edit_article" data-article_id="{{Article_target.id}}" class="btn btn-outline-warning" >Edit Article</button></a>  
            </div>
            {% endif %}
        </div>
    </div>
    <div class="container-fluid">
        <h3>Comment Section </h3>
        <div class="row">
            <div class="col">
                <H4>Leave Your Comment!</H4>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form method="POST" action="{% url 'Article' Article_target.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea class="form-control" name="comment" id="textarea_comment" data-article_id="{{Article_target.id}}" cols="60" rows="3"></textarea>
                    </div>
                    <div >
                        <button type="submit" id="comment-btn" class="btn btn-outline-success">Comment</button>
                    </div>
                  </form>
            </div>
        </div>
        {% for comment in comments %}
            <div class="row">
                <div class="col-sm-5 comment">
                    <div  id="user-comment" class="">
                        <p class="font-weight-bold">{{comment.user}}</p>
                        <hr class="hr-comment">
                        <div id="comment-content">
                            <p>{{comment.comment|linebreaks}}</p> 
                            <hr class="hr-comment">
                            <div>
                                <span id="comment-date">{{comment.Date}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}


{% block script %}
   
{% endblock %}