{% extends 'MedicPlace/layout.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <h1 class="text-center text-capitalize font-weight-bold" id="title_article">{{title}}</h1>
                <div class="row justify-content-end">
                    <div class="col-sm-4 ">
                        
                    </div>
                    <div class="col-sm-4 ">
                        <textarea id="texarea_title" col="20" rows="1" class="justify-content-center">{{title}}</textarea>
                    </div>
                    <div class="col-sm-4 ">
                        
                    </div>
                </div>
                
               
                <div class="col text-center">
                    <small class="text-capitalize font-weight-bold">From Dr: {{Medic}}</small>
                </div>  
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p id="content_article">{{content|linebreaks}}</p>
                <div class="row justify-content-end">
                    <div class="col-sm-4 ">
                        
                    </div>
                    <div class="col-sm-4 ">
                        <textarea id="textarea_content"  cols="20" >{{content|linebreaks}}</textarea> 
                    </div>
                    <div class="col-sm-4 ">
                        
                    </div>
                </div>
                 
            </div>
        </div>
        <div class="row justify-content-end">
            <div>
                <a href="{% url 'Edit_Article' Article_target.id %}"><button type="button" id="edit_article" data-article_id="{{Article_target.id}}" >Edit Article</button></a>  
            </div>
        </div>
    </div>
{% endblock %}


{% block script %}
   
{% endblock %}