{% extends 'MedicPlace/layout.html' %}

{% load static %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{name}}</h1>
                <span class="font-weight-bold">Type of Medicine: </span><p>{{type}}</p>
                <div>
                   <span class="font-weight-bold">Active ingredient: </span> <p>{{Active_ingredient}}</p>
                </div>
                <div>
                    <span class="font-weight-bold">Written by: </span> <p> Dr {{medic}}</p>
                </div>
                <div>
                    <span class="font-weight-bold">Summary: </span><p>{{summary|linebreaks}}</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col justify-content-end">
                <button  id="" class="">Edit Entry</button>
            </div>
        </div>
    </div>
{% endblock %}