{% extends 'MedicPlace/layout.html' %}
{% load static %}

{% block body %}
    <div class="container">
        <div class="row ">
            <div class="col justify-content-center">
                <form method="POST" action="{% url 'New_Article' %}">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" name="title" class="form-control" id="title" placeholder="New Title">
                    </div>
                    <div class="form-group">
                      <label for="textarea_content">Article Content</label>
                      <textarea class="form-control" name="content" id="textarea_content" rows="3"></textarea>
                    </div>
                    <div >
                        <button type="submit" class="btn btn-outline-success">Create Article</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}